<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>WhoUseWifi</string>
    <key>CFBundleDisplayName</key>
    <string>Who Use Wifi</string>
    <key>CFBundleIdentifier</key>
    <string>com.tpgusgh.whousewifi</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>WhoUseWifi</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>같은 네트워크에 있는 서버들의 열린 포트를 확인하기 위해 로컬 네트워크 접근이 필요합니다.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
